# Force installation of optional dependencies
optional=true

# Ensure all platforms are supported
node-linker=hoisted

# Shamefully hoist all dependencies
shamefully-hoist=true

# Don't use strict engine checking
engine-strict=false